/* Breadcrum Setting */

.bg-top-row {
  margin: -25px -25px 0 -25px;
  background: url('../../assets/images/new-files/header-bg.png') no-repeat scroll 0 -82px transparent;
  padding: 25px 50px 75px;
  background-size: cover; 
}

.breadcrumb.bc-1 { padding-left: 12px; }

.breadcrumb.bc-1 .active,
.breadcrumb.bc-1 li > a,
.breadcrumb.bc-1 li {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

/* Content Settings */
.trade-row {
  margin-top: -75px;
}

.trade-row > .container > div { padding-right: 0px; }

/* Extra Footer */
.footer-row {
  margin: 0px -25px;
  height: 40px;
  background: #fff;
}