<footer class="footer">
  <!-- <div class="dashboard-trade" *ngIf="!adminRole">
    <ul class="footer">
      <li class="vanguard-coin col-md-3 col-sm-6 col-xs-12">
        <img src="assets/images/icons/image-vanguard.png" />
        <span>Buy/Sell <img class="up-down-arrow" src="assets/images/icons/up_arrow.png" /> &nbsp;<span>+0.1% Today</span></span>
      </li>
      <li class="tentanium-coin col-md-3 col-sm-6 col-xs-12">
        <img src="assets/images/icons/image-tantanium.png" />
        <span>Buy/Sell <img class="up-down-arrow" src="assets/images/icons/up_arrow.png" /> &nbsp;<span>+0.1% Today</span></span>
      </li>
      <li class="digitex-coin col-md-3 col-sm-6 col-xs-12">
        <img src="assets/images/icons/image-digitex.png" />
        <span>Buy/Sell <img class="up-down-arrow" src="assets/images/icons/down_arrow.png" /> &nbsp;<span>-0.1% Today</span></span>
      </li>
      <li class="bkn-coin col-md-3 col-sm-6 col-xs-12">
        <img src="assets/images/icons/image-bkn.png" />
        <span>Buy/Sell <img class="up-down-arrow" src="assets/images/icons/up_arrow.png" /> &nbsp;<span>+0.1% Today</span></span>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div> -->

  <div class="links-and-logo">
    <div class="links pull-left">
      <ul>
        <li routerLinkActive="active"><a routerLink="/dashboard">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/portfolio">Portfolio</a></li>
        <li routerLinkActive="active"><a routerLink="/trading/my-portal">Trade</a></li>
        <li routerLinkActive="active"><a routerLink="/transaction">Wallets</a></li>
        <li routerLinkActive="active"><a routerLink="/products">Coins</a></li>
      </ul>
    </div>
    <div class="logo pull-right">
      <a href="/#/dashboard">
        <img src="assets/images/blockbuddylogo.png" class="img-responsive" alt="Logo" width="200" />
      </a>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="copyright-text">
    <p class="pull-left sm-pull-reset">
      <span>Copyright &copy; {{year}} </span>
      <span>BlockTrade Technology Limited.</span>
    </p>
    <p class="pull-right sm-pull-reset">
      <span>
        <a href="https://blockbuddy.zendesk.com/hc/en-us" class="m-r-10" target="_blank">Support</a> | 
        <a href="javascript:void(0);" class="m-l-10 m-r-10">Terms & Conditions</a> | 
        <a href="javascript:void(0);" class="m-l-10">Privacy Policy</a>
      </span>
    </p>
    <div class="clearfix"></div>
  </div>
</footer>