blockbuddy-app/node_modules
blockbuddy-server/node_modules
trade-app/node_modules
sandbox.html
.vscode
.idea
**/.DS_STORE
npm-debug.log
.imdone
build
coverage
node_modules
sandbox.html
blockbuddy-server/test/fixtures/*
.idea
blockbuddy-server/.env
trade-app/.env
db_backup
database

