<div class="page-title">
  <div class="title-env">
    <h1 class="title">User Management</h1>
  </div>
  <div class="breadcrumb-env">
    <ol class="breadcrumb bc-1">
      <li>
        <a href="/#/dashboard"><i class="fa fa-home"></i>Dashboard / </a>
      </li>
      <li class="active">
        <strong>List User</strong>
      </li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Users</h3>
      </div>
      <div class="panel-body">
        <form role="form" method="post" (ngSubmit)="getUsersList(null)" #sent="ngForm" class="form-inline">              
          <div class="form-group">
            <input type="text" name="usernameandeamil" [(ngModel)]="usernameandemail" class="form-control" id="search" autocomplete="off" #search="ngModel" placeholder="Enter Email or Username" required />
          </div>
      
          <div class="form-group">
            <button class="btn btn-secondary btn-single">Search</button>
          </div>
        </form>

        <button type="button" class="btn btn-secondary btn-single" (click)="markUserAsOld()">Marked As Old Users</button>

        <table class="table table-striped">
          <thead>
            <tr>
              <th><input type="checkbox" name="select_user" id="header-row" [(ngModel)]="selectAction" (click)="selectAllUser(users, selectAction)" /></th>
              <th>Date</th>
              <th>UserName</th>
              <th>Name</th>
              <th>Email</th>
              <th>Sponsor</th>
              <th class="text-center">Verified Email</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngIf="users.length>0" >
            <tr *ngFor="let info of users; let i = index;" [ngClass]="{'yellow': (info.marked_old === false), 'green': (info.marked_old === true)}">
              <td><input type="checkbox" name="user" id="column-row" [(ngModel)]="info.isSelected" (click)="updateUserList(info._id, info.isSelected)" /></td>
              <td>{{info.created_at | date:'medium'}}</td>
              <td>{{info.username}}</td>
              <td class="user-name">{{info.fname}} {{info.lname}}</td>
              <td>{{info.email}}</td>
              <td>{{info.sponsorusername}}</td>
              <td class="text-center">{{info.verify_email ? 'True' : 'False'}}</td>
              <td>
                <button class="btn btn-warning btn-icon" (click)="getUserById(info._id)">
                  <i class="fa fa-pencil-square-o"></i>
                  <!-- <span>Edit</span> -->
                </button>

                <button *ngIf="!info.is_blocked" class="btn btn-danger btn-icon" mwlConfirmationPopover [title]="title" [message]="message" placement="left" (confirm)="getBlockUser(info._id)" (cancel)="cancelClicked = true"> 
                  <i class="fa fa-trash-o"></i>
                  <!-- <span>Block</span>  -->
                </button>

                <button *ngIf="info.is_blocked" class="btn btn-default btn-icon" mwlConfirmationPopover [title]="untitle" [message]="unmessage" placement="left" (confirm)="getUnBlockUser(info._id)" (cancel)="cancelClicked = true"> 
                  <i class="fa fa-trash-o"></i>
                  <!-- <span>Unblock</span>  -->
                </button>

                <a class="btn btn-info btn-icon" target="_blank" href="{{location}}/#/user-management/{{info.username}}/login">
                  <i class="fa fa-eye"></i>
                  <!-- <span>View</span> -->
                </a>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="users.length===0" >
            <tr>
              <td class="text-center" colspan="5"><strong>No Users Found</strong></td>
            </tr>
          </tbody>
        </table>
        <div class="col-md-6 pull-right text-right">
          <pagination [totalItems]="totalUsers" [(ngModel)]="currentPage" [maxSize]="usersMaxSize" [itemsPerPage]="perPageItem" class="pagination-sm" [boundaryLinks]="true" (click)="getUsersList(currentPage)"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #userModal="bs-modal" [config]="{backdrop: 'static'}"
tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="userModal.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Edit User</h4>
      </div>
      <div class="modal-body">
        <form method="post" role="form" (ngSubmit)="form.valid && updateUser(); form.valid && f.resetForm();" [formGroup]="form" #f="ngForm" novalidate>
          <div class="alert alert-success" *ngIf="updateSuccess">
            <button type="button" class="close" data-dismiss="alert"></button>              
            <h4>{{updateSuccess}}</h4>
          </div>
          <div class="alert alert-danger" *ngIf="updateError">
            <button type="button" class="close" data-dismiss="alert"></button>              
            <h4>{{updateError}}</h4>
          </div>
          <div class="form-inline">
            <div class="form-group" [ngClass]="{'has-error': (f.submitted || fname.dirty) && !fname.valid}">
              <label class="label-block" for="fname">First Name</label>
              <input type="text" name="fname" id="fname" class="form-control" formControlName="fname" placeholder="User First Name" />
              <div *ngIf="(f.submitted || fname.dirty) && !fname.valid" class="help-block">First Name is required</div>
            </div>
            
            <div class="form-group pull-right" [ngClass]="{'has-error': (f.submitted || lname.dirty) && !lname.valid}">
              <label class="label-block" for="lname">Last Name</label>
              <input type="text" name="lname" id="lname" class="form-control" formControlName="lname" placeholder="User Last Name" />
              <div *ngIf="(f.submitted || lname.dirty) && !lname.valid" class="help-block">Last Name is required</div>
            </div>
          </div>
          <div>&nbsp;</div>
          <div class="form-inline">
            <div class="form-group" [ngClass]="{'has-error': (f.submitted || email.dirty) && !email.valid}">
              <label class="label-block" for="email">Email Address</label>
              <input type="text" name="email" id="email" class="form-control" formControlName="email" placeholder="User Email" />
              <div *ngIf="(f.submitted || email.dirty) && !email.valid" class="help-block">Email is required</div>
            </div>
            <div class="form-group pull-right" [ngClass]="{'has-error': (f.submitted || username.dirty) && !username.valid}">
              <label class="label-block" for="username">Username</label>
              <input type="text" name="username" id="username" class="form-control" formControlName="username" placeholder="Username" />
              <div *ngIf="(f.submitted || username.dirty) && !username.valid" class="help-block">Username is required</div>
            </div>
          </div>
          <div>&nbsp;</div>
          <div class="form-inline">
            <div class="form-group">
              <label class="label-block" for="country">Country</label>
              <select class="form-control" name="country" id="country" autocomplete="off" formControlName="country">
                <option *ngFor="let c of countries" [ngValue]="c.valueCode">{{c.name}}</option>
              </select>
              <div *ngIf="(f.submitted || country.dirty) && !country.valid" class="help-block">Country is required</div>
            </div>
            <div class="form-group pull-right" [ngClass]="{'has-error': (f.submitted || mobile.dirty) && !mobile.valid}">
              <label class="label-block" for="mobile">Mobile Number</label>
              <input type="text" name="mobile" id="mobile" class="form-control" formControlName="mobile" placeholder="Mobile Number" />
              <div *ngIf="(f.submitted || mobile.dirty) && !mobile.valid" class="help-block">Mobile Number is required</div>
            </div>
          </div>
          <div>&nbsp;</div>
          <div class="form-inline">
            <div class="form-group" [ngClass]="{'has-error': (f.submitted || password.dirty) && !password.valid}">
              <label class="label-block" for="password">Password</label>
              <input type="password" id="new-password" class="form-control" name="password" formControlName="password" placeholder="Password" />

              <div *ngIf="(password.dirty || f.submitted) && password.errors"
                class="help-block">
                <div [hidden]="!password.errors.required">
                  Password is required
                </div>
                <div [hidden]="!password.errors.minlength">
                  Password must be at least 6 characters long.
                </div>
                <div [hidden]="password.errors.minlength || password.errors.required">
                  Password must be alphanumeric.
                </div>
              </div>
            </div>
            <div class="form-group pull-right" [ngClass]="{'has-error': (f.submitted || confPass.dirty) && !confPass.valid}">
              <label class="label-block" for="confirm-password">Confirm Password</label>
              <input type="password" class="form-control" name="confirmPassword" id="confirm-password" autocomplete="off" [(ngModel)]="userEdit.confirmPassword" [ngModelOptions]="{standalone: true}" #confPass="ngModel" (ngModelChange)="validatePassword(form.value.password, userEdit.confirmPassword)" placeholder="Confirm Password" />
              <div *ngIf="(f.submitted || confPass.dirty) && (!confPass.valid || isConfirmPassError)" class="help-block">Password Mismatch</div>
            </div>
          </div>
          <div>&nbsp;</div>
          <div class="form-inline">
            <div class="form-group full-width">
              <label class="label-block" for="address">Address</label>
              <textarea class="form-control resize-none" name="address" id="address" autocomplete="off" formControlName="address"></textarea>
            </div>
          </div>
          <div>&nbsp;</div>
          <div class="form-inline">
            <div class="form-group">
              <label class="label-block" for="state">State</label>
              <input type="text" name="state" id="state" class="form-control" formControlName="state" placeholder="State" />
            </div>
            <div class="form-group pull-right">
              <label class="label-block" for="city">City</label>
              <input type="text" name="city" id="city" class="form-control" formControlName="city" placeholder="City" />
            </div>
          </div>
          <div>&nbsp;</div>
          <div class="form-inline">
            <div class="form-group">
              <label class="label-block" for="postalcode">Postal Code</label>
              <input type="text" name="postalcode" id="postal-code" class="form-control" formControlName="postal" placeholder="Postal Code" />
            </div>
            <div class="form-group pull-right">
            </div>
          </div>
          <div>&nbsp;</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" aria-label="Close" (click)="userModal.hide(); f.resetForm();">Close</button>
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>