.login-container {
  width: 660px;
  padding: 30px;
  background: #fff;
  margin: 0 auto;
}

.login-container .login-header a {
  margin-bottom: 30px;
  display: block;
}

.login-container .login-text,
.login-container .login-text a {
  display: inline !important;
}