<div class="login-container">
	
		<div class="row">
	
			<div class="col-sm-12 center">
	
				
				<!-- Errors container -->
				<div class="errors-container">
	
					
				</div>
        
        <div class="login-header login-form text-center">
          <a href="/login" class="logo">
            <img src="assets/images/logo-new.png" alt="" />
          </a>
          <div>&nbsp;</div>
          <div>&nbsp;</div>
          <div>
            <div class="alert alert-success">
              <h4><i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
              <span>You have successfully register with us. You will received shortly an email to verify your email address.</span></h4>
            </div>
            
            <span class="col-md-12 text-center login-text"><a href="/#login">Click here</a> to login.</span>  
            <div>&nbsp;</div>
            <div>&nbsp;</div>
          </div>
        </div>

			</div>
	
		</div>
	
	</div>